
{% for block in section.blocks %}
    <div class="hero-img">
        <img src="{{ block.settings.hero-img | img_url: 'master' }}" alt="Hero Image" id="hero-img">

        <h1 class="hero-text">
          {{ block.settings.herotitle }}
        </h1>
    </div>
{% endfor %}


{% schema %} 
{
  "name": "Hero Image",
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Image picker",
      "type": "image_picker",
      "settings": [
      {
        "id": "hero-img",
        "type": "image_picker",
        "label": "Hero Image Picker"
      } 
     ]
    },
    {
      "name": "Header Text",
      "type": "text",
      "settings": [
      {
        "id": "herotitle",
        "type": "text",
        "label": "Hero Header"
      }
      ]
    }
  ]
}
{% endschema %}
