<h1 class="hero-text">
  {{ block.settings.herotitle }}
</h1>


{% schema %}
  {
    "name": "Header Text",
    "settings": [
    {
      "id": "herotitle",
      "type": "text",
      "label": "Hero Header"
    }
    ]
  }
{% endschema %} 