
    <div id="hero-img">
        <img src="{{ section.settings.hero-img | img_url: 'master' }}" alt="Hero Image" id="hero-img-picker">

    </div>





{% schema %}
    {
      "name": "Hero Image",
      "settings": [
        {
          "id": "hero-img",
          "type": "image_picker",
          "label": "Hero Image Picker"
        }
      ]
    }
{% endschema %}